body {
    font-family: "Zilla Slab", serif;
    background-color: rgb(22, 22, 50);
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: rgb(151, 190, 224);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(13, 13, 39);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111
}

.Presentacion {
    margin: 100px;
}

.Redes {
    display: inline;
    
}

#Git {
    padding: 15px;
}

#Linkedin {
    padding: 15px;
}

#Instagram {
    padding: 15px;
}